/*Mixins for media queries*/

@mixin for-tablet {
  @media (min-width:481px){
    @content;
  }
}

@mixin for-small-screen {
  @media (min-width:769px){
    @content;
  }
}

@mixin for-large-screen {
  @media (min-width:1025px){
    @content;
  }
}

/*Mixins for text*/

@mixin roboto-text($size) {
  font-family: Roboto, "sans-serif";
  font-weight: bold;
  color: $darkblue;
  font-size: $size;
}

@mixin roboto-text-light($size) {
  font-family: Roboto, "sans-serif";
  font-weight: 400;
  color: $darkblue;
  font-size: $size;
}

