/* Color theme for webshop */
/* Roboto regular */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
/* Bold Roboto */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap%27");
/* Viga */
@import url("https://fonts.googleapis.com/css2?family=Viga&display=swap");
/* Rock Salt */
@import url("https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap");
/*Styling for body*/
body {
  margin: 0px;
  padding: 0px;
  background: #F9F5F2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 100vh;
  position: relative;
  border: 0;
}

/* Styling for site-wrapper*/
/* Styling for header */
.header {
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 5px;
  border-bottom: solid 2px #424D55;
}

@media (min-width: 769px) {
  .header {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (min-width: 769px) {
  .header .hideHamburger {
    display: none;
  }
}

.header #headerLogo {
  width: 150px;
}

@media (min-width: 769px) {
  .header #headerLogo {
    width: 225px;
  }
}

.header .headerIcons {
  width: auto;
  height: 35px;
}

@media (min-width: 769px) {
  .header .headerCart {
    margin-left: 50px;
  }
}

/*Div:ar i header*/
.headerElements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 769px) {
  .headerElements {
    margin: 60px;
  }
}

.headerElements a {
  font-size: 20px;
  font-family: Roboto, "sans-serif";
  font-weight: 400;
  color: #424D55;
}

@media (min-width: 769px) {
  .headerHomeLink {
    margin-right: 50px;
  }
}

.hideHeaderElements {
  display: none;
}

@media (min-width: 769px) {
  .hideHeaderElements {
    display: block;
  }
}

/*Page Href text styling*/
.noLinkStyle {
  text-decoration: none;
}

/**/
main {
  margin: 0px;
}

/* Styling for footer */
.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #424D55;
  position: relative;
  bottom: 0;
  width: 100%;
  height: 390px;
}

@media (min-width: 769px) {
  .footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 150px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.footer .retroIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 769px) {
  .footer .retroIcons {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.footer #footerLogo {
  width: auto;
  height: 80px;
  padding: 10px;
  padding-bottom: 40px;
}

@media (min-width: 769px) {
  .footer #footerLogo {
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 0px;
  }
}

.footer .footerIcons img {
  margin: 5px;
  width: auto;
  height: 30px;
}

.footer .navFooter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 15px;
}

@media (min-width: 769px) {
  .footer .navFooter {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding-right: 20px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.footer .navFooter a {
  padding: 10px;
  color: #F9F5F2;
  /*Fixa typsnitt*/
  font-family: 'Roboto';
}

@media (min-width: 769px) {
  .footer .navFooter a {
    margin: 20px;
    font-size: 18px;
  }
}

.footer > * {
  margin: 15px;
}
/*# sourceMappingURL=styles.css.map */