@import 'partials/_variables.scss';
@import 'partials/_mixins.scss';

/*Styling for body*/
body {
    margin: 0px;
    padding: 0px;
    background: $white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    position: relative;
    border: 0;
}

/* Styling for header */
.header {
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 5px;
    border-bottom: solid 2px $darkblue;

    @include for-small-screen {
        justify-content: space-between;
    }
    

    .hideHamburger {
        @include for-small-screen {
            display: none;
        } 
    }

    #headerLogo {
        width: 150px;
        @include for-small-screen{
            width: 225px;
        }
    }

    .headerIcons {
        width: auto;
        height: 35px;
    }

    .headerCart {
        @include for-small-screen {
            margin-left: 50px;
        }
    }
}

/*Div:ar i header*/
.headerElements {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    @include for-small-screen {
        margin: 60px;
    }

    a {
        @include roboto-text(20px);
    }
}

.headerHomeLink{
    @include for-small-screen {
        margin-right: 50px;
    }
}

.hideHeaderElements {
    display: none;
    @include for-small-screen{
        display: block;
    }
}

/*Page Href text styling*/
.noLinkStyle {
    text-decoration: none;
}

/**/
main {
    margin: 0px;
}


//------------Hamburger Menu style ---------

.ham-nav {
    display:flex;
    flex-direction: column;
    background: $white;
    min-height: calc(100% - 390px);
    width: 75%;
    position: absolute;
    align-self: flex-start;
    box-shadow: 0px 5px 10px 0px #00000081;
    z-index: 99999;

    @include for-tablet {
        width: 65%;
    }

        @include for-small-screen {
            display: none;
        }
}

.hide-ham{
    display:none;
}

#ham-top {
    width: 100%;
    height: 127px;
    background-color: $darkblue;
    display:flex;
    align-items: center;


    img {
        margin:40px;
        margin-top:50px;
        height:25px;
    }
}

#menu-items {
    display:flex;
    flex-direction: column;
    
    .menu-item {
        border-bottom: 2px solid $darkblue;
        text-align: center;

        h4{
            margin: 25px;
            @include roboto-text(24px);
        }
    }
}

//----------End of style hamburger menu--------

/* Styling for footer */
.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: $darkblue;
    /*position: relative; */ //För att popup background i mobile/dekstop view för komma över på footer
    bottom: 0;
    width: 100%;
    height: 390px;

    @include for-small-screen{
        flex-direction: row;
        height: 150px;
        justify-content: space-between;
        
    }
    .retroIcons{
        display: flex;
        flex-direction: column;
        align-items: center;
        @include for-small-screen{ 
            flex-direction: row;
        }
    }

    #footerLogo {
        width: auto;
        height: 80px;
        padding: 10px;
        padding-bottom: 40px;
        @include for-small-screen{
            padding-left: 40px;
            padding-right: 40px;
            padding-bottom: 0px;
        }
    }
    .footerIcons img {
        margin: 5px;
        width: auto;
        height: 30px;
    }
    .navFooter {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding-bottom: 15px;
        @include for-small-screen{
            flex-direction: row;
            padding-right: 20px;
            justify-content: space-between;
            
        }
        a {
            padding: 10px;
            color: $white;
            /*Fixa typsnitt*/
            font-family: 'Roboto'; 
            @include for-small-screen{
                margin: 20px;
                font-size: 18px;
            }
        }
    }

}

.footer > * {
    margin: 15px;
}

//----------------Categories & search input styling--------------------

.searchForm {
    background: white;
    border: 1px solid currentColor;
    border-radius: 5px;
    position: absolute;
    float: right;
    right: 20px;
    height: 35px;
    @include for-large-screen {
        margin-top: 50px;
        margin-right: 30px;
    }
}
.columnSearch {
    padding-top: 20px; 
}

input[type="search"] {
    background: transparent;
    border-radius: 5px;
    border: none;
    height: 35px;
    padding-top: 5px;
  }

input[type="search"]::placeholder {
  @include roboto-text(18px);
  padding-left: 8px;
}


.searchBtn {
    background: none;
    border-radius: 5px;
    border-color: white;
    width: auto;
    height: 35px;
}
.categoriesList {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding-left: 20px;
    @include roboto-text(20px);
    
    @include for-small-screen {
        /*
        position: relative;
        float: left;
        left: 150px;
        */
        margin-right: 200px;
        
    }

} 

//----------------End of categories &search input----------------------

// --------------------Product list-------------------------


//main for the productlist page
.product-list-main{
    display: flex;
    justify-content: center;
}


//Wraps all the articles
.product-list-wrapper {
    display: flex;
    flex-wrap:wrap;
    width: 360px;
    margin-top: 50px;
    margin-bottom:50px;

    

    @include for-small-screen{
    width: 750px;
    margin: 20px;
    }

    @include for-large-screen{
        width:1010px;
    }
}

//A single article/product
.product-article {
    height: 250px;
    width: 170px;
    background: $beige;
    margin: 5px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    @include roboto-text(12px);

    @include for-small-screen{
        height: 380px;
        width: 240px;
        margin-bottom: 30px;
        @include roboto-text(14px);
    }

}

//Where the productname and price are
.product-info {
    margin-left:10px;

    @include for-small-screen{
        margin: 10px;
    }

    h3 {
        @include roboto-text(13px);
        margin: 0;
        margin-top: 5px;

        @include for-small-screen{
            @include roboto-text(16px);
        
        }
    }
    p {
        margin-bottom:0 ;
    }
}

.product-image {
    width: 100%;
    display:flex;
    justify-content: center;

}

.product-image img {
    height: 150px;
    margin: 10px;

    @include for-small-screen {
        height: 240px;
    }
}

//The put in cart icon
.articleIcon {
    height: 20px;
    margin:5px;
    align-self: flex-end;
    cursor: pointer;

    @include for-small-screen {
        height: 30px;
        margin: 10px;
        margin-top: 5px;

    }
}

//--------------End of pruductlist---------------------

//-------------------Product site styling---------------//
.productCard {
    background: $beige;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $darkblue;
    padding: 40px 30px 30px 30px;

    @include for-small-screen {
        background: $white;
        flex-direction: row;
        column-gap: 40px;
        padding-left: 150px;
        padding-right: 150px;
    }

    .textInfo {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: Viga;
        @include for-small-screen {
            /*background: $beige;*/
            padding: 0px 0px 0px 10px;
            align-items: flex-start;
        }

    }
    .productImg {
        width: auto;
        height: 250px;
        @include for-small-screen {
            height: 350px;
            background: $beige;
            padding: 20px;
        }
    }
    .productName {

        text-align: center;
        font-family: Viga, "sans-serif";
        @include for-small-screen {
            font-size: 28px;
            align-content: flex-start;
        }
    }
    .price {
        font-size: 18px;
        text-align: center;
        font-weight: bold;
    }

    .productDescriptionText {
        text-align: center;
        @include roboto-text(16px);
        @include for-small-screen {
            text-align: left;
        }
    }
    .quantity {
        border-radius: 1px $white;
        border-radius: 5px;
        width: 60px;
        
    }
    .addToCartButton {
        background: $green;
        border-radius: 5px;
        border: none;
        color: $white;
        padding: 8px 100px;
        font-size: 18px;
        box-shadow: 0px 8px 5px $darkblue;
        font-family: Viga, "sans-serif";
    }
    /*To have arrows (increment/decrement) visible for amount of porduct changing*/
    input[type=number]::-webkit-inner-spin-button, 
    input[type=number]::-webkit-outer-spin-button {
        opacity: 1
    }

}
//-------------End of product site styling------------//

/*Shopping Cart, Billing & Shipping, Recepit/Order confirmation*/

.cartAndPayContent { /*Hela sidan förutom header & footer*/ 
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;

    .cartAndPayMainHeading { /*H2 högst upp*/
        @include roboto-text(22px);
        text-decoration: underline;
        margin: 20px 0px 20px 0px; 
    }
}

.cartAndPayContentBox { /*Den beiga boxen*/
    background-color: $beige;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    padding: 10px;
    padding-bottom: 40px;
    margin-bottom: 40px;

    @include for-small-screen {
        width: 60%;
    }

    .cartHeadings {/*Wrappar alla h3:or*/

        @include for-small-screen{
            width: 90%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        .cartProductHeading { /*Alla h3:or*/
            @include roboto-text(20px);
        }

        :first-child {

            @include for-small-screen {
                width: 40%;
            }
        }
    
        .cartQuantityHeading { /*Quantity h3:a*/
            display: none;
    
            @include for-small-screen {
                display:block;
            }
        }
    
        .cartPriceHeading { /*Price h3:a*/
            display: none;
    
            @include for-small-screen {
                display: block;
                justify-self: flex-end;
            }
        }

    }

    .cartAndPayHeading { /*Alla h3:or*/
        @include roboto-text(20px);
    }
}

.cartAndPayLine { /*De horisentella linjerna*/
    width: 90%;
    border-top: 1px solid $darkblue;
    border-bottom: none;

    @include for-small-screen {
        width: 99%;  
        hr { /*De horisentella linjerna*/
            width: 90%;
            border-top: 1px solid $darkblue;
            border-bottom: none;
        }
    }
}

.cartTheProduct { /*Sektionen från ena linjen till nedersta linjen*/
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 15px 0px 15px 0px;

    @include for-small-screen {
        align-items: flex-start;
        margin-top: 20px;
    }

    .wrapperForProductImgCart { /*Det vita runt bilden*/
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color: $white;
        height: 110px;
        width: 95px;

        .productImageInCart { /*Produktbilden*/
            width: auto;
            height: 70px;
        }
    }

    .cartProductNameHeading { /*Produktnamn*/
        @include roboto-text(15px);
        overflow-wrap: break-word;
        max-width: 100px;
        margin-top: 0px;
    }

    .inputQuantityAndDeleteButtonWrapper { /*Wrappar input antal och delete ikon*/
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 15px 0px;

        @include for-small-screen{
            margin-top: 0px;
        }
        
        .inputQuantityInCart { /*Input antal produkter*/
            width: 60px;
            height: 20px;
            background-color: $white;
            border: none;
            margin-right: 12px;
            @include roboto-text(12px);
        }
            
        .deleteProdIconInCart { /*Delete knapp (krysset)*/
            width: auto;
            height: 20px;
        }
    }


    .priceHeadingInCart { /*Pris*/
        @include roboto-text-light(15px);
        margin: 0px;
        align-self: center;

        @include for-small-screen {
            align-self: flex-start;
        }
    }
    

}

.cartTotalPriceSection { /*Wrapper runt total och product price*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 90%;
    margin-bottom: 30px;

    @include for-small-screen {
        justify-content: flex-end;
    }

    p { /*Total och product price*/
        @include roboto-text(15px);
    }

    :nth-child(2) {
        @include for-small-screen {
            padding-left: 20px;
        }
    }

}

.checkoutAndPayButton {
    width: 170px;
    height: 30px;
    background-color: $green;
    border: none;
    font-family: Viga, "sans-serif";
    color: $white;
    font-size: 15px;
    box-shadow: 1px 1px 4px $darkblue;
    cursor: pointer;
}

//Billing and Shipping

.billingAndShippingBox { /*Hela billing&Shipping boxen*/
    display: none;
}

.billingAndShippingForm { /*Formuläret*/
    display: flex;
    flex-direction: column;
    width: 100%;

    @include for-small-screen {
        flex-direction: row;
        justify-content: space-evenly;
    }

    .requiredInfoBillingAndShippingForm { /*Section med alla inputfält*/
        display: flex;
        flex-direction: column;
        min-width: 150px;

        @include for-small-screen {
            width: 30%;
        }
    }

    .textAreaAndButtonInForm { /*Section med textarea och button*/
        display: flex;
        flex-direction: column;

        .checkoutAndPayButton { /*Knappen i formuläret*/
            align-self: center;
            margin-top: 20px;

            @include for-small-screen {
                width: 240px;
            }
        }
    }
}

input[name="billingAndShippingInfo"], textarea[name="billingAndShippingInfo"] { /*Alla input och textarea*/
    padding: 10px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    background: $white;
    @include roboto-text(15px);
}

textarea[name="billingAndShippingInfo"] { /*Textarea*/

    @include for-small-screen {
        height: 245px;
        width: 230px;
    }
}


/*End of Shopping Cart, Billing & Shipping, Recepit/Order confirmation*/////////////////


/*------------------------------Sign in popup form---------------------*/

/*Den svarta transparent background in popupforms*/
.background-modal {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0px;
    padding-top: 150px;
    display: flex;
    justify-content: center;
    @include for-small-screen {
        padding-top: 50px;
    }
    
}
/*Popupfönstret*/
.signIn-content {
    width: 500px;
    height: 400px;
    background-color: $beige;
    border-radius: 4px;
    text-align: center;
    padding-top: 15px;
    margin-bottom: 400px;
    position: relative;
    margin-top: 50px;
    font-family: Viga, "sans-serif";
    color: $darkblue;
}

/*close popup styling*/
.closePopup {
    position: absolute;
    top: 0;
    right: 20px;
    font-size: 36px;

    color: $darkblue;
    transform: rotate(45deg);
    cursor: pointer; /*handen visas på close "X" knappen*/
}
.inputSignIn {
    width: 50%;
    display: block; 
    margin: 0px auto;
    padding: 5px;
    border: 1px solid $darkblue;
    border-radius: 5px;
}
.smallText {
    font-size: 12px;
}
.textLeft {
    font-size: 12px;
    position: relative;
    float:left;
    margin-left: 25%;
}

.popupBtn {
    border-radius: 5px;
    width: 50%;
    display: block;
    margin: 0px auto;
    padding: 5px;
    border: 1px solid black;
}

.signInButton {
    background-color: $darkblue;
    color: white;
    cursor: pointer;
    margin-top: 10px;
}
.becomeMemberButton {
    background-color: $brown;
    color: black;
    cursor: pointer;
}
/*End of Sign in popup---------------------*/

/*------------------------------Become a member popup---------------------*/
.bg-modal {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0px;
    padding-top: 180px;
    display: flex;
    justify-content: center;
    /*align-items: center;*/
    @include for-small-screen{
        padding-top: 80px;
    }
}
.becomeMember-content {
    width: 500px;
    height: 400px;
    background-color: $beige;
    border-radius: 4px;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
    font-family: Viga, "sans-serif";
    color: $darkblue;
}
.becomeMemberHR {
    width: 90%;
}
.memberInput {
    border: 1px solid $darkblue;
    border-radius: 5px;
    /*padding: 5px;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
table {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}

/*End of become a member popup---------------------*/

/*End of Sign in popup form///////////////////////////

/* Main content in the home page */
#welcomeText {
    font-family: rock salt;
    font-size: 18px;
    text-align: center;
    padding: 35px;

    @include for-small-screen {
        font-size: 32px;
        padding: 55px;
        color: #424D55;
    }
}

#categoryBooks {
    position: relative;
    text-align: center;
    color: black;
    font-family: viga;
}

#categoryCassettes {
    position: relative;
    text-align: center;
    color: black;
    font-family: viga;
    
}

#categoryVHS {
    position: relative;
    text-align: center;
    color: black;
    font-family: viga;

    #imageVHS {
        height: 105px;
        width: 100vw;

        @include for-small-screen {
            width: 100vw;
            height: 40vh;
        }
    }
}

.categoryText {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -60%);
    font-size: 25px;
    border: 3px inset whitesmoke;
    padding: 10px;

    @include for-small-screen {
        top: 42%;
        border: 3px outset whitesmoke;
        padding: 15px;
        color: #22272b;
        font-size: 35px;
    }
}

.homepageImages {
    max-width: 100%;
    max-height: 100%;
    opacity: 65%;




    @include for-small-screen {
        width: 100vw;
        height: 40vh;
    }
}


