@import 'variables.scss';

* {
    background: $white;
}
/* Styling for header */
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 50px;

    #headerLogo {
        width: 150px;
    }


}



/* Styling for footer */