@import 'partials/_variables.scss';
@import 'partials/_mixins.scss';

/*Styling for body*/
body {
    margin: 0px;
    padding: 0px;
    background: $white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    position: relative;
    border: 0;
}

/* Styling for header */
.header {
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 5px;
    border-bottom: solid 2px $darkblue;

    @include for-small-screen {
        justify-content: space-between;
    }
    

    .hideHamburger {
        @include for-small-screen {
            display: none;
        } 
    }

    #headerLogo {
        width: 150px;
        @include for-small-screen{
            width: 225px;
        }
    }

    .headerIcons {
        width: auto;
        height: 35px;
    }

    .headerCart {
        @include for-small-screen {
            margin-left: 50px;
        }
    }
}

/*Div:ar i header*/
.headerElements {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    @include for-small-screen {
        margin: 60px;
    }

    a {
        font-size: 20px;
        font-family: Roboto, "sans-serif";
        font-weight: 400;
        color: $darkblue;
    }
}

.headerHomeLink{
    @include for-small-screen {
        margin-right: 50px;
    }
}

.hideHeaderElements {
    display: none;
    @include for-small-screen{
        display: block;
    }
}

/*Page Href text styling*/
.noLinkStyle {
    text-decoration: none;
}

/**/
main {
    margin: 0px;
}

/* Styling for footer */
.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: $darkblue;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 390px;

    @include for-small-screen{
        flex-direction: row;
        height: 150px;
        justify-content: space-between;
        
    }
    .retroIcons{
        display: flex;
        flex-direction: column;
        align-items: center;
        @include for-small-screen{ 
            flex-direction: row;
        }
    }

    #footerLogo {
        width: auto;
        height: 80px;
        padding: 10px;
        padding-bottom: 40px;
        @include for-small-screen{
            padding-left: 40px;
            padding-right: 40px;
            padding-bottom: 0px;
        }
    }
    .footerIcons img {
        margin: 5px;
        width: auto;
        height: 30px;
    }
    .navFooter {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding-bottom: 15px;
        @include for-small-screen{
            flex-direction: row;
            padding-right: 20px;
            justify-content: space-between;
            
        }
        a {
            padding: 10px;
            color: $white;
            /*Fixa typsnitt*/
            font-family: 'Roboto'; 
            @include for-small-screen{
                margin: 20px;
                font-size: 18px;
            }
        }
    }

}

.footer > * {
    margin: 15px;
}

// -----------Product list-----------
.product-list-main{
    display: flex;
    justify-content: center;
}

.product-list-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
    margin-bottom:50px;

    @include for-small-screen{
    max-width: 1000px;
    margin: 20px;
    }

    @include for-large-screen{
        max-width:1200px;
    }
}

.product-article {
    height: 250px;
    width: 170px;
    background: $beige;
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include for-small-screen{
        height: 380px;
        width: 240px;
    }
}

.product-image {
    height: 130px;

    @include for-small-screen {
        height: 240px;
    }
}


.articleIcon {
    height: 20px;
}


/*Product site styling*/////////////////////////////////
.productCard {
    background: $brown;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $darkblue;
    padding-top: 40px;
    padding-right: 20px;
    padding-bottom: 3px;
    padding-left: 30px;
    
    @include for-small-screen {
            flex-direction: row;

            .productInfo {
                text-align: start;
            }
            .twoElements {
                flex-direction: row;
            }
    }
    .productImg {
        width: auto;
        height: 250px;
    }
    .productInfo {
        align-items: center;
        @include for-large-screen{
            text-align: center;
        }
    }
    .productName {
        font-size: 20px;
        @include for-large-screen{
            text-align: center;
        }
    }
    .price {
        font-size: 18px;
    }
    .productDescriptionText {
        font-size: 16px;
        text-align: center;
    }
    .quantity{
        /*position: absolute;*/
        /*right: 30px;*/
        width: 60px;
        border-radius: 5px;
        border: 1px solid $white;
    }
    .addToCartButton {
        background: $green;
        border-radius: 5px;
        border: none;
        color: $white;
        padding: 8px 100px;
        font-size: 18px;
    }

}
/*End of product site styling*/////////////////////////

/*Shopping Cart, Billing & Shipping, Recepit/Order confirmation*/

.cartAndPayContent { /*Hela sidan förutom header & footer*/ 
    display: flex;
    flex-direction: column;
    align-items: center;

    .shoppingCartH2 { /*H2 högst upp*/
        font-family: Roboto, "sans-serif";
        font-size: 22px;
        font-weight: 400;
        text-decoration: underline;
        color: $darkblue;
        margin: 20px 0px 20px 0px; 
    }
}

.cartContent { /*Den beiga boxen*/
    background-color: $beige;
    display: flex;
    flex-direction: column;
    align-items: center;

    .productsHeadingInCart { /*h3:an i beiga rutan högst upp*/
        font-family: Roboto, "sans-serif";
        color: $darkblue;
        font-weight: 400;
        margin: 15px 0px 0px 0px;
    }

    hr { /*De horisentella linjerna*/
        width: 80%;
        border: solid 0.1px $darkblue;
    }
}

.productImgAndProdNameCart { /*Wrappar runt bilden och produktnamn*/
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 30px 5px 30px 5px;

    .wrapperForProductImgCart { /*Det vita runt bilden*/
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color: $white;
        height: 110px;
        width: 110px;
    }

    .productImageInCart { /*Produktbilden*/
        width: auto;
        height: 70px;
    }

    .cartProductNameHeading { /*Produktnamn*/
        font-family: Roboto, "sans-serif";
        font-weight: 400;
        color: $darkblue;
        font-size: 15px;
        overflow-wrap: break-word;
        max-width: 100px;
    }
}

.inputQuantityAndDeleteButtonWrapper {

    .inputQuantityInCart { /*Input antal produkter*/
        width: 15%;
        background-color: $white;
        border: none;
        color: $darkblue;
        font-family: Roboto, "sans-serif";
    }
    
    .deleteProdIconInCart { /*Delete knapp (krysset)*/
        width: auto;
        height: 17px;
    }
}

/*End of Shopping Cart, Billing & Shipping, Recepit/Order confirmation*/////////////////