@charset "UTF-8";
/* Color theme for webshop */
/* Roboto regular */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
/* Bold Roboto */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap%27");
/* Viga */
@import url("https://fonts.googleapis.com/css2?family=Viga&display=swap");
/* Rock Salt */
@import url("https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap");
/*Styling for body*/
body {
  margin: 0px;
  padding: 0px;
  background: #F9F5F2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 100vh;
  position: relative;
  border: 0;
}

/* Styling for header */
.header {
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 5px;
  border-bottom: solid 2px #424D55;
}

@media (min-width: 769px) {
  .header {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (min-width: 769px) {
  .header .hideHamburger {
    display: none;
  }
}

.header #headerLogo {
  width: 150px;
}

@media (min-width: 769px) {
  .header #headerLogo {
    width: 225px;
  }
}

.header .headerIcons {
  width: auto;
  height: 35px;
}

@media (min-width: 769px) {
  .header .headerCart {
    margin-left: 50px;
  }
}

/*Div:ar i header*/
.headerElements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 769px) {
  .headerElements {
    margin: 60px;
  }
}

.headerElements a {
  font-size: 20px;
  font-family: Roboto, "sans-serif";
  font-weight: 400;
  color: #424D55;
}

@media (min-width: 769px) {
  .headerHomeLink {
    margin-right: 50px;
  }
}

.hideHeaderElements {
  display: none;
}

@media (min-width: 769px) {
  .hideHeaderElements {
    display: block;
  }
}

/*Page Href text styling*/
.noLinkStyle {
  text-decoration: none;
}

/**/
main {
  margin: 0px;
}

/* Styling for footer */
.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #424D55;
  position: relative;
  bottom: 0;
  width: 100%;
  height: 390px;
}

@media (min-width: 769px) {
  .footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 150px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.footer .retroIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 769px) {
  .footer .retroIcons {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.footer #footerLogo {
  width: auto;
  height: 80px;
  padding: 10px;
  padding-bottom: 40px;
}

@media (min-width: 769px) {
  .footer #footerLogo {
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 0px;
  }
}

.footer .footerIcons img {
  margin: 5px;
  width: auto;
  height: 30px;
}

.footer .navFooter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 15px;
}

@media (min-width: 769px) {
  .footer .navFooter {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding-right: 20px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.footer .navFooter a {
  padding: 10px;
  color: #F9F5F2;
  /*Fixa typsnitt*/
  font-family: 'Roboto';
}

@media (min-width: 769px) {
  .footer .navFooter a {
    margin: 20px;
    font-size: 18px;
  }
}

.footer > * {
  margin: 15px;
}

.product-list-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.product-list-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

@media (min-width: 769px) {
  .product-list-wrapper {
    max-width: 1000px;
    margin: 20px;
  }
}

@media (min-wdith: 1025px) {
  .product-list-wrapper {
    max-width: 1200px;
  }
}

.product-article {
  height: 250px;
  width: 170px;
  background: #E8DBCE;
  margin: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 769px) {
  .product-article {
    height: 380px;
    width: 240px;
  }
}

.product-image {
  height: 130px;
}

@media (min-width: 769px) {
  .product-image {
    height: 240px;
  }
}

.articleIcon {
  height: 20px;
}

/*Product site styling*/
.productCard {
  background: #CFA48D;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #424D55;
  padding-top: 40px;
  padding-right: 20px;
  padding-bottom: 3px;
  padding-left: 30px;
}

@media (min-width: 769px) {
  .productCard {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .productCard .productInfo {
    text-align: start;
  }
  .productCard .twoElements {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.productCard .productImg {
  width: auto;
  height: 250px;
}

.productCard .productInfo {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-wdith: 1025px) {
  .productCard .productInfo {
    text-align: center;
  }
}

.productCard .productName {
  font-size: 20px;
}

@media (min-wdith: 1025px) {
  .productCard .productName {
    text-align: center;
  }
}

.productCard .price {
  font-size: 18px;
}

.productCard .productDescriptionText {
  font-size: 16px;
  text-align: center;
}

.productCard .quantity {
  /*position: absolute;*/
  /*right: 30px;*/
  width: 60px;
  border-radius: 5px;
  border: 1px solid #F9F5F2;
}

.productCard .addToCartButton {
  background: #08B519;
  border-radius: 5px;
  border: none;
  color: #F9F5F2;
  padding: 8px 100px;
  font-size: 18px;
}

/*End of product site styling*/
/*Shopping Cart, Billing & Shipping, Recepit/Order confirmation*/
.cartAndPayContent {
  /*Hela sidan förutom header & footer*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cartAndPayContent .shoppingCartH2 {
  /*H2 högst upp*/
  font-family: Roboto, "sans-serif";
  font-size: 22px;
  font-weight: 400;
  text-decoration: underline;
  color: #424D55;
  margin: 20px 0px 20px 0px;
}

.cartContent {
  /*Den beiga boxen*/
  background-color: #E8DBCE;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cartContent .productsHeadingInCart {
  /*h3:an i beiga rutan högst upp*/
  font-family: Roboto, "sans-serif";
  color: #424D55;
  font-weight: 400;
  margin: 15px 0px 0px 0px;
}

.cartContent hr {
  /*De horisentella linjerna*/
  width: 80%;
  border: solid 0.1px #424D55;
}

.productImgAndProdNameCart {
  /*Wrappar runt bilden och produktnamn*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 30px 5px 30px 5px;
}

.productImgAndProdNameCart .wrapperForProductImgCart {
  /*Det vita runt bilden*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F9F5F2;
  height: 110px;
  width: 110px;
}

.productImgAndProdNameCart .productImageInCart {
  /*Produktbilden*/
  width: auto;
  height: 70px;
}

.productImgAndProdNameCart .cartProductNameHeading {
  /*Produktnamn*/
  font-family: Roboto, "sans-serif";
  font-weight: 400;
  color: #424D55;
  font-size: 15px;
  overflow-wrap: break-word;
  max-width: 100px;
}

.inputQuantityAndDeleteButtonWrapper .inputQuantityInCart {
  /*Input antal produkter*/
  width: 15%;
  background-color: #F9F5F2;
  border: none;
  color: #424D55;
  font-family: Roboto, "sans-serif";
}

.inputQuantityAndDeleteButtonWrapper .deleteProdIconInCart {
  /*Delete knapp (krysset)*/
  width: auto;
  height: 17px;
}

/*End of Shopping Cart, Billing & Shipping, Recepit/Order confirmation*/
/*# sourceMappingURL=styles.css.map */